$color-white: #ffffff;
$color-black: #1f1f1f;
$color-black-light: #313131;
$color-gray-light: #d0d0d0;
$color-gray-lighter: #d6d6d6;
$color-gray-lightest: #d9d9d9;
$color-blue: #3057a2;
$color-red: #f54932;
$color-wheat: #e9ded4;
$color-yellow: #fbce51;

$font-base: 'Golor Text', sans-serif;
$font-accent: 'Merriweather', serif;

$transition-default: 0.2s ease-in-out;
